@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  code {
    @apply font-mono;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .dropdown-content {
    @apply absolute bg-gray-50 min-w-[160px] shadow-lg p-4 z-10 rounded-lg;
  }

  .dropdown-content ul {
    @apply list-none p-0;
  }

  .dropdown-content li {
    @apply py-2 cursor-pointer hover:text-primary-600 transition-colors;
  }
}
